@import "../utilidades/variables";
@import "../utilidades/mixin";

//Index

main {
    .slide {
        img {
            height: 60vh;

            @include tabletCarousel {
                height: 45vh;
    
            }
            @include mobileCarousel {
                height: 35vh;
            }
        }
       
    }
  
}
    section {
        .significado {
            margin-top: 3.5rem;
            background-color: bisque;
            border-radius: 3rem;
            height: 20rem;
            box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
            margin-bottom: 1rem;
            .queSomos {
                margin-top: 3rem;
                text-align: center;
                text-decoration: underline;
                align-items: center;
                font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
                font-size: 2rem;
                color: $color-general;
                font-family: 'Roboto', sans-serif;
                @include tabletSomos {
                    font-size: 1.6rem;
                }
                @include mobileSomos {
                    font-size: 1rem;
                }
            }

            p {
                text-align: center;
                font-size: 1.5rem;
                @include tabletSomos {
                   font-size: 1rem;
                }

                @include mobileSomos {
                    font-size: 0.8rem;
                
                }
            }
        }
    }

    .fondoImg {
        border-radius: 3rem;

        .fondoForm {
            margin-top: 1rem;
            box-shadow: 0 10px 30px #000;
            border: 1px solid white;
            background-color: $color-principal;

            .glass-effect {
                background-color:$color-botones;
                backdrop-filter: blur(0.4rem);
            }

            .tituloForm {
                text-decoration: underline;
                color: $color-secundario;
            }

            .loremForm {
                color: $color-general;
            }

        }

        .colorBtn {
            background-color: $color-botones;
            color: c$color-general;
            font-size: 1.5rem;
            margin: 5px;

            &:hover {
                background-color: $color-secundario;
                color: $color-general;
            }
        }

        .smallForm {
            font-size: 20px;
        }


    }